/*전체 프로젝트 영향*/
:root {
  --vh: 100%;
}
body {
  /* 가운데정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SUITE";
  /* border: 1px solid red; */

  background-size: cover; /* 이미지를 화면에 가득 채우도록 설정합니다. */
}

@font-face {
  font-family: "SUITE";
  font-style: normal;
  src: url("./font/SUITE-Regular.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
